@import 'govuk-frontend';

.custom-full-width-border {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #ffffff;
  border-top: 1px solid #b1b4b6;
  padding: 16px 0;
  margin-bottom: -30px;
}

.govuk-chat-box {
  border-radius: 4px;
}

.govuk-chat-message {
  margin-bottom: 16px;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-chat-username {
  font-weight: bold;
  font-size: 14px;
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-chat-message--user {
  background-color: #1d70b8;
  color: #ffffff;
}

.govuk-chat-message--bot {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.govuk-chat-profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.govuk-chat-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.scrollable-div {
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
  height: 600px;
}

.govuk-input {
  flex: 1;
  height: 40px;
  min-width: 0;
  box-sizing: border-box;
}

.custom-full-width-border .govuk-width-container {
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem !important;
  box-sizing: border-box;
}

.custom-full-width-border .govuk-input {
  flex: 1 !important;
  min-width: 0 !important;
}

.custom-full-width-border .govuk-button {
  white-space: nowrap !important;
}

.govuk-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.govuk-summary-card {
  margin-top: 30px;
}

.govuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

.govuk-panel {
  margin-top: 15px;
}
