@import 'govuk-frontend';

.govuk-heading-xl {
  padding-top: 40px;
}

.hidden-content {
  display: none;
}

.visible-content {
  display: block;
}

.govuk-button--secondary {
  margin-bottom: 0;
}

.govuk-input-password {
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .govuk-button--secondary {
    margin-top: 20px;
  }

  .govuk-button-password--secondary {
    margin-bottom: 20px;
  }

  .govuk-input-password {
    margin-bottom: 0;
  }

  .govuk-width-container {
    display: block;
    margin-bottom: 5px;
  }

  .custom-full-width-border .govuk-width-container {
    flex-direction: column;
    gap: 1rem;
  }
}

.govuk-heading-l {
  margin-top: 30px;
}

.custom-full-width-border {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #ffffff;
  border-top: 1px solid #b1b4b6;
  padding: 16px 0;
  margin-bottom: -30px;
}

.govuk-chat-box {
  border-radius: 4px;
}

.govuk-chat-message {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "GDS Transport", arial, sans-serif;
  word-wrap: break-word;
  white-space: normal;
  display: inline-block;
}

.govuk-chat-message p {
  margin: 0;
  line-height: 1.5;
}

.govuk-chat-username {
  font-weight: bold;
  font-size: 14px;
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
}

.govuk-chat-message--user {
  background-color: #1d70b8;
  color: #ffffff;
}

.govuk-chat-message--bot {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.govuk-chat-profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.govuk-chat-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.scrollable-chat-div {
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
  height: 400px;
}

.scrollable-history-div {
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
  height: 600px;
}

.govuk-input {
  flex: 1;
  height: 40px;
  min-width: 0;
  box-sizing: border-box;
}

.custom-full-width-border .govuk-width-container {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
}

.custom-full-width-border .govuk-input {
  flex: 1;
  min-width: 0;
}

.custom-full-width-border .govuk-button-new {
  white-space: nowrap;
}

.govuk-button-new {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.govuk-summary-card {
  margin-top: 30px;
}

.govuk-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

.govuk-panel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.loading-icon-container img {
  width: 20px;
  height: 20px;
}

.spinner {
  width: 20px;
  height: 20px;
}

.loading-message-container {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.notification-banner {
  margin-top: 50px;
}

