{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border",
    homepageUrl: "/chat"
  }) }}

  <section aria-label="Service information"
           class="govuk-service-navigation"
           data-module="govuk-service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
          <a>{{ __("appName") }}</a>
        </span>

        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button"
                  class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                  aria-controls="navigation"
                  hidden>
            {{ __("navChat") }}
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link"
                 href="/chat"
                 aria-current="true">
                <strong class="govuk-service-navigation__active-fallback">
                  {{ __("navChat") }}
                </strong>
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/chat-history">
                {{ __("navChatHistory") }}
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/contact-support">
                {{ __("navContactSupport") }}
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/account">
                {{ __("navAccount") }}
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link"
                 href="/logout"
                 id="logoutLink">
                {{ __("navLogout") }}
              </a>
            </li>
          </ul>
        </nav>

        <nav class="language-select" aria-label="Language switcher">
          <ul class="language-select__list">
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <a href="?lang=en" class="govuk-link">English</a>
              {% else %}
                <span aria-current="true">English</span>
              {% endif %}
            </li>
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <span aria-current="true">Cymraeg</span>
              {% else %}
                <a href="?lang=cy"
                   hreflang="cy"
                   lang="cy"
                   rel="alternate"
                   class="govuk-link">
                  <span class="govuk-visually-hidden">
                    Newid yr iaith i Gymraeg
                  </span>
                  <span aria-hidden="true">Cymraeg</span>
                </a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div id="chat-container" data-chat-id="{{ chatId | default('') }}">
    <div class="govuk-width-container">
      <div class="govuk-chat-box scrollable-chat-div" id="chat-box">
        {% if messages %}
          {% for message in messages %}
            <div class="govuk-chat-profile">
              {% if message.sender == 'user' %}
                <img src="/assets/images/user-profile.jpg"
                     alt="{{ __("altUserProfile") }}"
                     class="govuk-chat-profile-picture">
                <span class="govuk-chat-username">{{ __("labelUser") }}</span>
              {% else %}
                <img src="/assets/images/chatbot-profile.jpg"
                     alt="{{ __("altChatbotProfile") }}"
                     class="govuk-chat-profile-picture">
                <span class="govuk-chat-username">{{ __("labelChatbot") }}</span>
              {% endif %}
            </div>
            <div class="govuk-chat-message
                {% if message.sender == 'user' %}govuk-chat-message--user{% else %}govuk-chat-message--bot{% endif %}">
              <span class="govuk-visually-hidden">
                {% if message.sender == 'user' %}
                  {{ __("labelUser") }}
                {% else %}
                  {{ __("labelChatbot") }}
                {% endif %}
              </span>
              <p>{{ message.message | safe }}</p>
            </div>
          {% endfor %}

        {% endif %}
      </div>
    </div>

    <div class="custom-full-width-border">
      <div class="govuk-width-container">
        <input class="govuk-input"
               id="chat-input"
               name="chatInput"
               type="text"
               placeholder="{{ __("chatInputPlaceholder") }}">
        <button type="button"
                class="govuk-button govuk-button-new"
                id="send-button">
          {{ __("sendButton") }}
        </button>
      </div>
    </div>
  </div>

  <script src="chat-dev.js"></script>
  <script src="logout-dev.js"></script>
{% endblock %}
