{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">

        <!-- Service name -->
        <span class="govuk-service-navigation__service-name">
        <a class="govuk-service-navigation__link">
          HMCTS chatbot
        </a>
      </span>

        <!-- Main navigation links -->
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button
            type="button"
            class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
            aria-controls="navigation"
            hidden
          >
            Menu
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/chat">
                Chat
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/chat-history">
                Chat history
              </a>
            </li>
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="/contact-support" aria-current="page">
                Contact support
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="/account">
                Account
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a
                class="govuk-service-navigation__link"
                href="/logout"
                id="logoutLink"
              >
                Logout
              </a>
            </li>
          </ul>
        </nav>

        <!-- Language selector -->
        <nav class="language-select" aria-label="Language switcher">
          <ul class="language-select__list">
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <a href="?lang=en" class="govuk-link">English</a>
              {% else %}
                <span aria-current="true">English</span>
              {% endif %}
            </li>
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <span aria-current="true">Cymraeg</span>
              {% else %}
                <a
                  href="?lang=cy"
                  hreflang="cy"
                  lang="cy"
                  rel="alternate"
                  class="govuk-link"
                >
                  <span class="govuk-visually-hidden">Newid yr iaith i Gymraeg</span>
                  <span aria-hidden="true">Cymraeg</span>
                </a>
              {% endif %}
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  {{ govukPanel({
    titleText: supportBanner.titleText,
    html: supportBanner.html | safe
  }) }}

  <script src="logout-dev.js"></script>
{% endblock %}
