{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "HMCTS chatbot"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Forgotten your password?</h1>

  <!-- Email Section -->
  <form action="/enter-code" method="POST" novalidate>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label--l govuk-label" for="email">Enter your email address</label>
      </h1>
      <p class="govuk-body">
        We’ll email you a code to help set a new password
      </p>
      <input
        class="govuk-input govuk-!-width-one-half"
        id="email"
        name="email"
        type="email"
        placeholder="Enter your email address"
        required
      >
    </div>

    {{ govukButton({
      text: "Send Email",
      type: "submit"
    }) }}
  </form>

  <script src="emailValidation-dev.js"></script>
{% endblock %}

