{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "HMCTS chatbot"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Forgotten your password?</h1>

  <p class="govuk-body">
    We’ll email you a code to help set a new password.
  </p>

  {{ govukInput({
    label: {
      text: "Email address"
    },
    classes: "govuk-!-width-one-half",
    id: "email-address",
    name: "emailAddress"
  }) }}

  {{ govukButton({
    text: "Send Email",
    href: "/enter-code"
  }) }}
{% endblock %}

