{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "HMCTS chatbot"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Sign in</h1>

  <!-- Success Alert -->
  {% if created %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your account has been created successfully
        </h3>
        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
      </div>
    </div>
  {% endif %}

  <!-- Success Alert -->
  {% if passwordReset %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your password has been reset successfully
        </h3>
        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
      </div>
    </div>
  {% endif %}

  <p class="govuk-body">
    If you do not have an account, you can <a href="/register" class="govuk-link">request one now</a>.
  </p>

  <form action="/login" method="post">
    <!-- Username Field -->
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="username">Username</label>
      {% if error %}
        <span id="username-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error }}
        </span>
      {% endif %}
      <input
        class="govuk-input govuk-!-width-one-half {% if error %}govuk-input--error{% endif %}"
        id="username"
        name="username"
        type="text"
        value="{{ username | default('') }}"
      >
    </div>

    <!-- Password Field -->
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="password">Password</label>
      {% if error %}
        <span id="password-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error }}
        </span>
      {% endif %}
      <input
        class="govuk-input govuk-!-width-one-half {% if error %}govuk-input--error{% endif %}"
        id="password"
        name="password"
        type="password"
      >
    </div>

    {{ govukButton({
      text: "Continue",
      type: "submit"
    }) }}
  </form>

  <p class="govuk-body">
    <a href="/forgot-password" class="govuk-link">Forgotten your password?</a>
  </p>

  <script src="showPassword-dev.js"></script>
{% endblock %}
