{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block content %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "HMCTS chatbot"
  }) }}
  
  <h1 class="govuk-heading-xl">Page Not Found</h1>
{% endblock %}
