{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  <section
    aria-label="Service information"
    class="govuk-service-navigation"
    data-module="govuk-service-navigation"
  >
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container service-navigation--login-layout">
        <span class="govuk-service-navigation__service-name">
          <a>{{ __("appName") }}</a>
        </span>

        <!-- Language switcher -->
        <nav class="language-select" aria-label="Language switcher">
          <ul class="language-select__list">
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <a href="?lang=en" class="govuk-link">English</a>
              {% else %}
                <span aria-current="true">English</span>
              {% endif %}
            </li>
            <li class="language-select__list-item">
              {% if lang == "cy" %}
                <span aria-current="true">Cymraeg</span>
              {% else %}
                <a
                  href="?lang=cy"
                  hreflang="cy"
                  lang="cy"
                  rel="alternate"
                  class="govuk-link"
                >
                  <span class="govuk-visually-hidden">
                    Newid yr iaith ir Gymraeg
                  </span>
                  <span aria-hidden="true">Cymraeg</span>
                </a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ __("createAccountHeading") }}</h1>

  <p class="govuk-body">
    {{ __("alreadyHaveAccount") | safe }} <a href="/" class="govuk-link">{{ __("signInHereLink") | safe }}</a>.
  </p>

  {% if errors %}
    <div class="govuk-error-summary" role="alert" tabindex="-1">
      <h2 class="govuk-error-summary__title">
        {{ __("errorSummaryTitle") }}
      </h2>
      <ul class="govuk-list govuk-error-summary__list">
        {% for err in errors %}
          <li>{{ err }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form action="/register" method="POST" novalidate>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l" for="username">
        {{ __("usernameLabel") }}
      </label>
      <input
        class="govuk-input govuk-!-width-one-half"
        id="username"
        name="username"
        type="text"
        placeholder="{{ __("usernamePlaceholder") }}"
        required
      >
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l" for="email">
        {{ __("emailLabel") }}
      </label>
      <input
        class="govuk-input govuk-!-width-one-half"
        id="email"
        name="email"
        type="email"
        placeholder="{{ __("emailPlaceholder") }}"
        required
      >
    </div>

    {# Date of birth #}
    {% set dobParams = {
      fieldset: {
        legend: {
          text: __("dateOfBirthLegend"),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: __("dateOfBirthHint") },
      id: "date-of-birth",
      namePrefix: "date-of-birth",
      items: [
        { classes: "govuk-input--width-2", name: "day", value: day|default('') },
        { classes: "govuk-input--width-2", name: "month", value: month|default('') },
        { classes: "govuk-input--width-4", name: "year", value: year|default('') }
      ]
    } %}
    {% if errors.dateOfBirth %}
      {% set dobParams = dobParams | merge({
        errorMessage: { text: errors.dateOfBirth }
      }) %}
    {% endif %}
    {{ govukDateInput(dobParams) }}

    {# Password #}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l" for="password">
        {{ __("passwordLabel") }}
      </label>
      <div id="password-hint" class="govuk-hint">
        <p class="govuk-body">{{ __("passwordHintTitle") }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ __("passwordCriteriaBullet1") }}</li>
          <li>{{ __("passwordCriteriaBullet2") }}</li>
          <li>{{ __("passwordCriteriaBullet3") }}</li>
          <li>{{ __("passwordCriteriaBullet4") }}</li>
          <li>{{ __("passwordCriteriaBullet5") }}</li>
        </ul>
      </div>
      <label class="govuk-label" for="password">{{ __("labelNewPassword") }}</label>
      <input
        class="govuk-input govuk-input-password govuk-!-width-one-half"
        id="password"
        name="password"
        type="password"
        placeholder="{{ __("passwordPlaceholder") }}"
        aria-describedby="password-hint"
      >
      <button
        type="button"
        class="govuk-button govuk-button--secondary govuk-button-password--secondary toggle-button"
        data-target="password"
        data-module="govuk-button"
        aria-expanded="false"
      >
        {{ __("showButton") }}
      </button>

      <label class="govuk-label" for="confirm-password">
        {{ __("confirmPasswordLabel") }}
      </label>
      <input
        class="govuk-input govuk-!-width-one-half"
        id="confirm-password"
        name="confirmPassword"
        type="password"
        placeholder="{{ __("confirmPasswordPlaceholder") }}"
      >
      <button
        type="button"
        class="govuk-button govuk-button--secondary toggle-button"
        data-target="confirm-password"
        data-module="govuk-button"
        aria-expanded="false"
      >
        {{ __("showButton") }}
      </button>
    </div>

    {{ govukButton({
      text:  __("saveChangesButton"),
      classes: "govuk-!-margin-top-3",
      type: "submit"
    }) }}
  </form>

  <script src="showPassword-dev.js"></script>
  <script src="passwordValidationRegister-dev.js"></script>
  <script src="dateOfBirthValidation-dev.js"></script>
  <script src="emailValidation-dev.js"></script>
{% endblock %}
