{% extends "govuk/template.njk" %}

{% block pageTitle %}
  HMCTS chatbot
{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
